/* General styles */
:root {
  --mainBlue:#2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --yellowHover: #ffdb99;
  --colorNav: #17a2b8;
  --colorNavUnselected: #8bd1dc;
  --colorNavHover: #c5e8ed;
  --colorBtnDark: #016372;
}

body{
  font-family: 'Open Sans', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  text-transform: uppercase;
}

.text-brand{
  font-family: 'Clicker Script', cursive !important;
}

.text-bright{
  color: var(--mainYellow);
}

/* Navbar */
.text-brand {
  font-size: 3rem;
  color: black;
}
.navbar.need-background {
  background-color: rgba(250, 250, 250, 0.8) !important;
  color: black !important;
}


/* Homepage */
.carousel-item {
  background-color: var(--mainWhite);
}

.active.carousel-item{
  background-color: var(--mainWhite);
}
.carousel-item img {
  width: 100%!important;
  height: auto;
}
.active.carousel-item img {
  width: 100%!important;
  height: auto;
}
.top-padding {
  padding-top: 100px;
}


/* Modal */
#modal{
  padding: 3rem 2.5rem;
}

/* Cart */
.btn-cart{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--colorBtnDark);
  border-radius: 0;
  border: 0.1rem solid var(--colorBtnDark) !important;
}
.btn-cart:hover{
  background: var(--colorNav) !important;
  color: var(--colorNavHover)!important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

/* Checkout */
div.no-paymnet-possible {
  background-color: rgba(255,0,0, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}

.stripe-btn {
  border-style: none;
  background-color: bisque;
  color: #444;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
}

.stripe-btn:hover {
  background-color: #efbe23;
}

/* Footer */
div.footer {
  background-color: var(--colorNavHover);
  color: var(--colorBtnDark);
}

div.footer ul{
  padding-left: 0px;
  z-index: 1;
}

div.footer-info {
  position: static !important;
}

div.footer-info a:link {
  color: var(--colorBtnDark) !important;
}

div.footer-info a:visited {
  color: var(--colorBtnDark) !important;
}