@import './config';

body{
    font-family: 'Oswald', sans-serif !important;
    background: $mainWhite !important;
    color: $mainDark !important;
  }
  
  .text-title{
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  
  .text-blue{
    color: $mainBlue;
  }
  
  .text-bright{
    color: $mainYellow;
  }